*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";

}
html,body{
    height: 100%;
    width: 100%;
}
#page1
{
      min-height:100vh;
    width:100%;
    background-color: #efeae3;
     padding: 2 0vw;
    position: relative;
}
nav{
 padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #b9b5b5;
    border-radius: 50px;
    position: relative;
    color: rgb(56, 50, 50);
    font-size: 18px;overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 108, 31);
    left: 0;
    bottom: -100% ;
    border-radius: 50%;
    transition: all ease 0.3s;
    
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    color: black;
    text-decoration: none;
    z-index: 9;
    position: relative;
}
#nav-part2 h4:hover a{
    color: white;
}
#center{
    height: 65vh;
    width: 100%;
    padding-bottom: 2.5vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid ;
    padding: 20px;
}

#left h3{
width: 25vw;
font-size: 1.8vw;
line-height: 2vw;
}
#right{

}
#center h1{
    font-size: 7vw;
    text-align: right;
    line-height: 8vw;
}
#page1 video{
    border-radius: 40px;
    margin-top: 4vw;
    width: 100%;

}